Repository Sector-Echo-13-Team/Echo-SS13, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Dependencies, DME Edit, Sprites, Code Change, Map Change, Ship, Ruin, Sound, SQL, tgui, Github

.github/labeler.yml:

Admin:
  - any-glob-to-any-file:
    - "code/modules/admin/**"

# Any file within the config subfolder
Config:
- changed-files:
  - any-glob-to-any-file:
    - "config/**"

Dependencies:
- changed-files:
  - any-glob-to-any-file:
    - "**/package.json"
    - "**/package-lock.json"
    - "**/yarn.lock"

# When the .DME is changed
DME Edit:
- changed-files:
  - any-glob-to-any-file:
    - "./*.dme"
    - "**/*.dme"

# Any .dmi changes
Sprites:
- changed-files:
  - any-glob-to-any-file:
    - "**/*.dmi"

# Changes to a .dm or anything in the code subfolder
Code Change:
- changed-files:
  - any-glob-to-any-file:
    - "**/*.dm"
    - "code/**"

# Changes to a .dmm or anything in the _map subfolder
Map Change:
- changed-files:
  - any-glob-to-any-file:
    - "**/*.dmm"
    - "_maps/**"

Ship:
- changed-files:
  - any-glob-to-any-file:
    - "_maps/shuttles/**"
    - "_maps/configs/**"

Ruin:
- changed-files:
  - any-glob-to-any-file:
    - "_maps/RandomRuins/**"
    - "code/datums/ruins/**"

# Any changes to .ogg files are marked as sound
Sound:
- changed-files:
  - any-glob-to-any-file:
    - "**/*.ogg"

# Changes to the SQL subfolder
SQL:
- changed-files:
  - any-glob-to-any-file:
    - "SQL/**"

# Changes to the tgui subfolder
tgui:
- changed-files:
  - any-glob-to-any-file:
    - "tgui/**"

# Changes to the .Github subfolder
Github:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-17.yml
  html/changelogs/AutoChangeLog-pr-4329.yml
  html/changelogs/AutoChangeLog-pr-4440.yml
  html/changelogs/AutoChangeLog-pr-4496.yml
  html/changelogs/AutoChangeLog-pr-4537.yml
  html/changelogs/AutoChangeLog-pr-4647.yml
  html/changelogs/AutoChangeLog-pr-4655.yml
  html/changelogs/AutoChangeLog-pr-4668.yml
  html/changelogs/archive/2025-05.yml
Labels: none

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update README.md
  README.md
Labels: none

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

death
  _maps/configs/independent_arrowhead.json
  _maps/configs/independent_echo_nemo.json
Labels: Map Change, Ship

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code Change

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code Change
